include ./config.pug
script(src=modal__path+"modal.js")

.modal
    .modal__overlay
    .modal__dialog
        a.modal__close(href="#")
            img(src=modal__path+"img/close.svg" alt="Сlose icon")
        h2.modal__title Booking
        form.modal__form(action="#")
            .modal__form-wrap
                input.modal__input(
                    type="text"
                    name="name"
                    placeholder="Your Full Name*"
                    required)
                input.modal__input.modal__tel(
                    type="tel"
                    name="tel"
                    placeholder="Phone Number*"
                    required)
                input.modal__input(
                    type="email"
                    name="email"
                    placeholder="Email*"
                    required)
                texterea.modal__message(name="message" placeholder="Message")
            .modal__btn-wrap
                button.modal__btn Send
                span.modal__prompt * Required Fields